@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate {
    animation: 1s ease-out 0s 1 slideInFromTop;
    /*transition: transform 300ms ease-in-out;*/

}
