body {
    background-color: #0a2149;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

.backGround_front{
    background-color: #0dfffd26;
    width:75%;
    margin: auto;
    padding: 10px;
    border-style: inset;
    border-top: none;
    border-bottom: none;
    padding-top: 25px;


}
.form_element {
    margin: 20px 0;
}

.form_element label {
     display: block;
     margin-bottom: 5px;
     font-size: 20px;
     font-weight: 300;
     background-color: rgba(63, 81, 181, 0.15);

 }

.label_green{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(63, 181, 87, 0.38);
}

form{
    background-color: #f3f3f3;
    width:50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 20px;
}

input {
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    resize: vertical;
}

button {
    background: #3F51B5;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
}

select {
    font-size: 15px;
    width:70%;
}

.label_error {
    color: #FF5722;
    font-weight: 600;
    margin-top: 10px;
}

header {
    background:#03a9f4;
    text-align: center;
}

.logo{
    box-shadow: 5px 10px #00000063;
    color:#fff;
    font-size:40px;
    font-family: 'Maven pro', serif;
    background-color: #7b96d29e;
    text-align: center;
    padding-bottom: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: white;

}