body {
    background-color: #0a2149;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

.backGround_front{
    background-color: #0dfffd26;
    width:75%;
    margin: auto;
    border-style: inset;
    border-top: none;
    border-bottom: none;
    padding: 25px 10px 10px;

}
.form_element {
    margin: 20px 0;
}

.form_element label {
     display: block;
     margin-bottom: 5px;
     font-size: 20px;
     font-weight: 300;
     background-color: rgba(63, 81, 181, 0.15);
    /*border-radius: 20px;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

.toolkit_info {
    font-size: 18px;
    width: 400px;
}
.label_green{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(63, 181, 87, 0.38);
}

.label_blue{

    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(63, 81, 181, 0.15);
    /*border-radius: 20px;*/

}

form{
    background-color: #f3f3f3;
    width:50%;
    border: 3px solid white;
    border-radius: 20px;
}

input {
    font-size: 17px;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    resize: vertical;
    width: 90%;
}

button {
    background: #3F51B5;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
}

select {
    font-size: 15px;
    width:70%;
}

.label_error {
    color: #FF5722;
    font-weight: 600;
    margin-top: 10px;
}

header {
    background:#03a9f4;
    text-align: center;
}

.logo{
    box-shadow: 5px 10px #00000063;
    color:#fff;
    font-size:40px;
    font-family: 'Maven pro', serif;
    background-color: #7b96d29e;
    text-align: center;
    padding-bottom: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: white;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate {
    animation: 1s ease-out 0s 1 slideInFromTop;
    /*transition: transform 300ms ease-in-out;*/

}

.fadeinDown {
    -webkit-animation: fadeInDown 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

/* Standard syntax */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
