body {
    background-color: #292720;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left:auto;
    margin-right:auto;
    position: relative;
}

.form_element {
    margin: 20px 0;
}

.form_element label {
     display: block;
     margin-bottom: 5px;
     font-size: 20px;
     font-weight: 300;
     background-color: rgba(63, 81, 181, 0.15);

 }

form{
    background-color: #f3f3f3;
    width:50%;
}

input {
    font-size: 20px;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    resize: vertical;
}

button {
    background: #3F51B5;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
}

select {
    font-size: 15px;
    width:70%;
}

.label_error {
    color: #FF5722;
    font-weight: 600;
    margin-top: 10px;
}

header {
    background:#03a9f4;
    text-align: center;
}

.logo{
    color:#fff;
    font-size:40px;
    font-family: 'Maven pro', serif;
    background-color: #7b96d29e;
    text-align: center;
    padding-bottom: 15px;
}